.eunit
/_build/
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

.DS_Store

# generated 
# temporary unignored
#apps/swag_server
#apps/swag_client

# rebar
/_checkouts/

# containerization
\#*
.\#*
Dockerfile
docker-compose.yml
