[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
[submodule "schemes/swag-url-shortener"]
	path = schemes/swag-url-shortener
	url = git@github.com:rbkmoney/swag-url-shortener.git
	branch = release/master
