% Common project erlang options.
{erl_opts, [

    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all

]}.

% Common project dependencies.
{deps, [
    {cowboy,    "2.7.0"},
    {jose,      "1.7.9"},
    {prometheus, "4.6.0"},
    {prometheus_cowboy, "0.1.8"},
    {genlib,
        {git, "https://github.com/rbkmoney/genlib.git",
            {branch, "master"}
        }
    },
    {cowboy_access_log,
        {git, "https://github.com/rbkmoney/cowboy_access_log.git",
            {branch, "master"}
        }
    },
    {logger_logstash_formatter,
        {git, "https://github.com/rbkmoney/logger_logstash_formatter.git",
            {branch, "master"}
        }
    },
    {woody,
        {git, "https://github.com/rbkmoney/woody_erlang.git",
            {branch, "master"}
        }
    },
    {woody_user_identity,
        {git, "https://github.com/rbkmoney/woody_erlang_user_identity.git",
            {branch, "master"}
        }
    },
    {scoper,
        {git, "https://github.com/rbkmoney/scoper.git",
            {branch, "master"}
        }
    },
    {mg_proto,
        {git, "https://github.com/rbkmoney/machinegun_proto.git",
            {branch, "master"}
        }
    },
    {bouncer_proto,
        {git, "https://github.com/rbkmoney/bouncer-proto.git",
            {branch, "master"}
        }
    },
    {bouncer_client,
        {git, "https://github.com/rbkmoney/bouncer_client_erlang.git",
            {branch, "master"}
        }
    },
    {erl_health,
        {git, "https://github.com/rbkmoney/erlang-health.git",
            {branch, "master"}
        }
    },
    {cowboy_cors,
        {git, "https://github.com/rbkmoney/cowboy_cors.git",
            {branch, "master"}
        }
    },
    {cowboy_cors,
        {git, "https://github.com/rbkmoney/how_are_you.git",
            {branch, "master"}
        }
    }
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, []}
]}.

{profiles, [
    {prod, [
        {deps, [
            % for introspection on production
            {recon, "2.3.2"}
        ]},
        {relx, [
            {release, {shortener, "0.1"}, [
                {recon                    , load}, % tools for introspection
                {runtime_tools            , load}, % debugger
                {tools                    , load}, % profiler
                {logger_logstash_formatter, load}, % log formatter
                shortener,
                how_are_you
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {mode, minimal},
            {extended_start_script, true}
        ]}
    ]}
]}.

{plugins, [
    {erlfmt, "0.8.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, "apps/shortener/{src,include,test}/*.{hrl,erl}"}
]}.
