[
    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/shortener"},
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]},
        {extra_sinks, [
            {shortener_access_lager_event, [
                {handlers, [
                    {lager_file_backend, [
                        {file, "access_log.json"},
                        {level, info},
                        {formatter, lager_logstash_formatter}
                    ]}
                ]},
                {async_threshold, 20},
                {async_threshold_window, 5}
            ]}
        ]}
    ]},

    {shortener, [
        {automaton_service_url, "http://machinegun:8022/v1/automaton"},
        {ip, "::"},
        {port, 8080}
    ]}
].
