[

  

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {shortener, [
        {space_size             , 8},
        {hash_algorithm         , sha256},
        {api, #{
            ip                 => "::",
            port               => 8080,
            authorizer         => #{
                keyset         => #{}
            },
            short_url_template => #{
                scheme         => https,
                netloc         => "rbk.mn",
                path           => "/"
            },
            source_url_whitelist => [
                "https://*"
            ]
        }},
        {processor, #{
            ip                 => "::",
            port               => 8022,
            protocol_opts      => #{
                request_timeout => 60000
            }
        }},
        {service_clients, #{
            automaton => #{
                url => <<"http://machinegun:8022/v1/automaton">>,
                retries => #{
                    % function => retry strategy
                    % '_' work as "any"
                    % default value is 'finish'
                    % for more info look genlib_retry :: strategy()
                    % https://github.com/rbkmoney/genlib/blob/master/src/genlib_retry.erl#L19
                    'Start'   => {linear, 3, 1000},
                    'GetMachine'   => {linear, 3, 1000},
                    'Remove'   => {linear, 3, 1000},
                    '_'     => finish
                }
            }
        }},
        {health_checkers, [
            {erl_health, disk     , ["/", 99]        },
            {erl_health, cg_memory, [99]             },
            {erl_health, service  , [<<"shortener">>]}
        ]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, console_logger, logger_std_h, #{
                    level => debug,
                    config => #{file => "/var/log/shortener/console.json"}
            }},
            {handler, access_logger, logger_std_h, #{
                    level => info,
                    config => #{file => "/var/log/shortener/access_log.json"},
                    filters => [{access_log, {fun logger_filters:domain/2, {stop, not_equal, [cowboy_access_log]}}}]
            }}
        ]}
    ]}

].
