[

    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/shortener"},
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]},
        {extra_sinks, [
            {shortener_access_lager_event, [
                {handlers, [
                    {lager_file_backend, [
                        {file, "access_log.json"},
                        {level, info},
                        {formatter, lager_logstash_formatter}
                    ]}
                ]},
                {async_threshold, 20},
                {async_threshold_window, 5}
            ]}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_lager}
    ]},

    {shortener, [
        {space_size             , 64},
        {hash_algorithm         , sha256},
        {api, #{
            ip                 => "::",
            port               => 8080,
            authorizer         => #{
                keyset         => #{}
            },
            short_url_template => #{
                scheme         => https,
                host           => "rbk.mn",
                path           => "/"
            }
        }},
        {processor, #{
            ip                 => "::",
            port               => 8022,
            net_opts           => [
                {timeout        , 60000}
            ]
        }},
        {service_clients, #{
            automaton          => #{url => <<"http://machinegun:8022/v1/automaton">>}
        }}
    ]}

].
