{erl_opts, [
    {parse_transform, ct_expand}
]}.

{deps, [
    {jsx,         "2.8.2"},
    {rfc3339,     "0.2.2"},
    {jesse,       {git, "https://github.com/rbkmoney/jesse.git",       {ref, "39105922d1ce5834383d8e8aa877c60319b9834a"}}},
    {parse_trans, {git, "https://github.com/rbkmoney/parse_trans.git", {ref, "5ee45f5bfa6c04329bea3281977b774f04c89f11"}}}
]}.